################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin


/*/bin/*
/*/obj/*
/artifacts
/CleverCache.sln.DotSettings.user
